.BackgroundSection1 img{
    margin-top: 80px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 800px;
    filter: brightness(70%);
}


.Section1Content{
    position: relative;
    z-index: 5;
    padding-top: 200px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    width: 800px;
}

.Section1Content button{
    margin-left: 22px;
    height: 80px;
    width: 500px;
    border: none;
    background: linear-gradient(90deg, rgba(196, 16, 16, 0.7) 0%, rgba(234, 6, 6, 0.7) 50%, rgba(120, 5, 5, 0.7) 100%);
    border-radius: 5px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.Section1Content button:hover{
    background: linear-gradient(90deg, rgba(196, 16, 16, 0.5) 0%, rgba(234, 6, 6, 0.5) 50%, rgba(120, 5, 5, 0.5) 100%);
}

.Section1Content img{

    filter: none;
    width: 600px;
    height: 200px;
}

.Raiting{

    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-left: 22px;
    padding-top: 30px;
}


.Raiting a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    transition: 0.5s;
}

.Raiting img{
    width: 100px;
    height: 30px;
}

.Raiting a:hover{
    transform: scale(1);
    color: darkred;
}

.Section2{
    min-height: 170px;
    margin-top: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image:url('../../assets/img/BacgraundSection2.png') ;
    background-position: center;
    background-repeat:no-repeat ;
}

.Section2Box{
    margin-left: 10px;
}

.Section2Box h3{
    padding-bottom: 10px;
}

.Section2 h1{
    font-size: 40px;
    margin-top: 30px;
}

.Section2Input{
    display: flex;

}

.Section2Input input{
    font-size: 20px;
    outline: none;
    height: 50px;
    width: 400px;
    border: 2px solid darkred;
}

.Section2Input button{
    cursor: pointer;
    height: 50px;
    width: 200px;
    border: none;
    color: #fff;
    background: darkred;
}

.Welcome{
    color: white;
    min-height:150px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Welcome h1{
    font-size: 30px;
}

.WelcomeImg img{
    background: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 15px;
    height: 50px;
    width: 50px;
}

.Section3Container{
    display: flex;
    justify-content: space-between;
}

.KillerBox{
    padding-top: 20px;
    padding-right: 20px;
    width: 49%;
    height: 1100px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(167,3,3,1) 100%);
}

.SurvivalBox{
    padding-top: 20px;
    padding-left: 20px;
    height: 1100px;
    width: 49%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(7,5,198,1) 100%);
}

.Section3ContainerImg{
    background: #000;
    padding: 10px;
    margin-top: 20px;
    border-radius: 100%;
    height: 100px;
    width: 100px;
}



.KillerBox{
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-size: 40px;
}
.KillerBoxText{
    margin-right: 20px;
}

.SurvivalBox{
    font-size: 40px;
    color: #ffffff;
    display: flex;
}
.SurvivalBoxText{
    margin-left: 20px;
}

.Section3Box button{
    font-weight: 900;
    height: 60px;
    width: 200px;
    background: none;
    background: rgba(56, 55, 55, 0.8);
    border: white 2px solid;
    color: white;
    margin-top: 50px;
    cursor: pointer;
}

.Section3Box button:hover{
    background: none;
}

.DLC{
    position: relative;
    margin-top: -800px;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    flex-direction: column;

    z-index: 3;
    width: 100%;
    height: 800px;
}

.DLC h1{
    padding-top: 20px;
    font-size: 60px;
    color: white;
}

.DLCMainBox{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}

.DLCMainBox img{
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    height: 500px   ;
    width: 400px;
    box-shadow: 3px 1px 20px #666666;

}

.DLCMainBox img:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
}

.KillerDLC img{
    margin-right: 50px;
}
.SurvivalDLC img{
    margin-left: 50px;
}

.DLCButton{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.DLCButton button{
    height: 50px;
    width: 200px;
    background: darkred;
    margin-top: 20px;
    color: white;
    border: none;

}

.Section4{
    display: flex;
    align-items: center;
    height: 600px;
    background: #000000;
    color: white;
}

.Section4 img{
    width: 50%;
    height: 100%;
}

.Section4Content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
    height: 60%;
}

.Section4Content h1{
    font-size: 40px;
}

.Section4Content h3{
    font-size: 30px;
    width: 100px;
    border-bottom: darkred 3px solid;
}

.Description ul{
    margin-left: 20px;
}

.Description h2{

    margin-bottom: 10px;
}

.Section4ContentButton{
    display: flex;
    justify-content: space-between;
    min-width: 550px;
}

.Section4ContentButton button{
    height: 50px;
    border: darkred 2px solid;
    color: white;
    background: black;
    min-width: 250px;
    cursor: pointer;
}

.Section4ContentButton button:hover{
    background: darkred;
}